.logout-parent {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #fff;
    height: 45px;
    padding: 0 70px;
}

.logout-parent span {
    padding: 10px 15px;
}

.logout-parent span:hover {
    background: rgb(209, 209, 209);
}

.logout-parent i {
    margin: 0 5px;
}
